body{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    background-color: black;
}
.fondo{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10%;
}
@font-face {
    font-family: 'Dedicol';
    src: url(dedicool/Dedicool.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
.formulario{
    margin-top: 8vh;
    margin-left: 10vh;
    font-family: Dedicol;
}
label{
    font-family: Dedicol;
    font-size:x-large;
}
input{
    font-size: 15px;
    padding: 10px;
    font-family: Dedicol;
}
select{
    font-size: 15px;
    padding: 5px;
    font-family: Dedicol;
}
button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

button p {
  z-index: 1;
}

button:hover {
  color: #212121;
}

button:active {
  border-color: teal;
}

button::after, button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

button::before {
  left: 0;
  transform: translateX(-8em);
}

button::after {
  right: 0;
  transform: translateX(8em);
}

button:hover:before {
  transform: translateX(-1em);
}

button:hover:after {
  transform: translateX(1em);
}

button:active:before,
button:active:after {
  background: teal;
}