body{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    height: 77vh;
    background: url(luna.png) no-repeat;
    background-size: cover;
}
.fondo{
    width: 400px;
    height: 500px;
    background: url(form.jpg) no-repeat;
    background-size: cover;
    border-radius: 10%;
}
@font-face {
    font-family: 'Dedicol';
    src: url(dedicool/Dedicool.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
.formulario{
    margin-top: 6vh;
    margin-left: 8vh;
    font-family: Dedicol;
}
label{
    font-family: Dedicol;
    font-size:x-large;
}
input{
    font-size: 15px;
    padding: 10px;
    font-family: Dedicol;
}
select{
    font-size: 15px;
    padding: 5px;
    font-family: Dedicol;
}

button {
  margin-left: 40px;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

