body{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.fondo{
    width: 400px;
    height: 500px;
    /* background: url(estrellas.gif) no-repeat;
    background-size: cover; */
    background-color: aqua;
    border-radius: 10%;
}
@font-face {
    font-family: 'Dedicol';
    src: url(dedicool/Dedicool.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
.formulario{
    margin-top: 1vh;
    margin-left: 12vh;
    font-family: Dedicol;
}
label{
    font-family: Dedicol;
    font-size:x-large;
}
button{
    margin-left: 12vh;
}
input{
    font-size: 15px;
    padding: 10px;

    font-family: Dedicol;
}