body {
    height: 79.2vh;
    background: url(Fondo.jpg) no-repeat;
    background-size: cover;
}
.fondo1{
    margin-left: 25px; 
    margin-top: 50px;
    background-color: lightblue;
    width: 400px;
    height: 600px;
    border-radius: 5%;
}
.enunciado1{
    margin-left: 100px;
    margin-top: 10px;
}

.fondo2{
    margin-right: 20px; 
    margin-top: 50px;
    background-color: lightblue;
    width: 400px;
    height: 500px;
    border-radius: 5%;
}
.enunciado2{
   margin-left: 100px;
    margin-top: 10px;
}
.fondos{
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
}