body {
    background: url(azul.png) no-repeat;
    background-size: cover;
    
}
.f1{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 50px;
}
input {
    width: 500px;
    height: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}
button {
  background: beige;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}